@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: 'chaviera';
    src: url('../fonts/Chaviera.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'chaviera';
    src: url('../fonts/Chaviera.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}