@import "utilities";
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;        
    .headerTop {
        background: #1D1D1B;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        text-align: center;
        padding: 12px 0px;
        padding-top: 13px;
    }
    .headerTop p {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
    .headerBot__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu ul {
        display: flex;
    }
    .menu ul li {
        margin-right: 20px;
    }
    .menu ul a {
        color: #231B33;    
        font-size: 18px;    
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        transition: 0.3s;
        position: relative;
        transition-delay: 0.3s;
    }
    .menu ul a:hover {
        color: #FFD28F;
    }
    .menu ul a:before {
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        background: #FFD28F;
        bottom: -5px;
        transition: 0.3s;
        left: 50%;
        transform: translateX(-50%);
    }
    .menu ul a:hover:before {
        width: 100%;
    }
    .icons ul li:hover img {
        filter: invert(1);
    }
    .icons ul li:hover:before {
        transform: scale(1);
    }
    .icons ul li img {
        transition: 0.3s;
        transition-delay: 0.1s;
    }
    .icons ul li:before {
        content: '';
        position: absolute;
        width: 46px;
        height: 46px;
        background: #141414;
        left: -8px;
        top: -8px;
        border-radius: 50%;
        transition: 0.3s;
        transform: scale(0);
    }
    .icons ul li {
        margin-left: 20px;
        position: relative;
    }
    .icons ul {
        display: flex;
    }
    .icons ul a img {
        width: 30px;
        height: 30px;
        display: block;
    }
    .icons ul a {
        display: block;
        position: relative;
    }
    .icons ul a mark {
        position: absolute;
        background: #FFD28F;
        width: 20px;
        height: 20px;
        border-radius: 20px 20px 20px 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #231B33;
        font-size: 12px;
        font-weight: 500;
        top: -3px;
        right: -7px;
    }
    .headerBot__left {
        width: calc(50% - 44px);
    }
    .headerBot__right {
        width: calc(50% - 44px);
        display: flex;
        justify-content: flex-end;
    }
    .headerBot {
        padding: 9px 0px;
        padding-bottom: 10px;
        background: #FFF;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    }
}


.preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preload:before {
    content: '';
    width: 50%;
    height: 100%;
    top:0;
    left:0;
    background: #1D1D1B;
    transition: 1s;
    position: absolute;
}
.preload:after {
    content: '';
    width: 50%;
    height: 100%;
    top:0;
    right:0;
    background: #1D1D1B;
    transition: 1s;
    position: absolute;
}

.preload svg {
    display: block;
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.preload svg path {
    fill: transparent;
    stroke: white;
    stroke-width: .5;
}

.preload svg path#letrasMP {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
    transition: 1.5s;
}
.preload svg path#letrasC {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}
.preload svg path.pathFillletter {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}
.preload svg path.active {
    stroke-dashoffset: 0 !important;
    transition: 1.5s;
}
.preload svg path.activeback {
    fill: white;
}
.preload.active {
    pointer-events: none;
}
.preload.active:before {
    transform: translateX(-120%);
}
.preload.active:after {
    transform: translateX(120%);
}
.preload.active svg {
    opacity: 0;
}
